.blog-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.blog-loading-container{
    
}
.blog-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.blog-page-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap:3rem;
    height: max-content;
    justify-content: center;
    align-items: center;
}
.blog-page-container h1, .blog-page-container p, .blog-page-container h4{
    margin: 0;
}
.blog-page-top-section-contents{
    display: flex;
    gap: 3rem;
}
.blog-page-top-section-blog-contents{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.blog-page-section-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 2rem;
}

@media only screen and (max-width:1024px){
    .blog-page-container{
        width: 85%;
    }
    .blog-page-section-contents{
        width: 100%;
    }
}
@media only screen and (max-width:400px){
    .blog-page-container{
        width: 90%;
    }
}


/* ------------------------------------------------Blog dashboard----------------------------------------------- */

.blog-dashboard{
    display: flex;
    width: 300px;
    position: relative; 
    padding-top: 140px; 
}
.blog-mobile-dashboard-container{
    display: none;
}
.blog-dashboard-container{
    display: flex;
    flex-direction: column; 
    gap: 0.5rem; 
    position: sticky; 
    top: 120px;
    width: 100%; 
    height: max-content; 
}
.blog-dashboard-heading h3{
    font-size: 18px;
    font-family: var(--h-font);
    color: var(--p-black);
    font-weight: 600;
    padding-bottom: 8px;
}
.blog-dashboard-contents{
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
}
.blog-dashboard-contents h2{
    font-size: 14px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 400;
    line-height: 140%;
}

.blog-dashboard-subcontents{
    padding-left: 1rem;
}
.blog-dashboard-subcontents h3{
    font-size: 14px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 400;
    line-height: 140%;
}





/* ---------------------------------------------------Table of contents mobile------------------------------------ */
@media only screen and (max-width:1024px){
.blog-dashboard{
    padding: 20px 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--trafy-black);
    border-top: 1px solid var(--box-border);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-dashboard-container{
    display: none;
}
.blog-mobile-dashboard-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
.blog-mobile-dashboard-buttons{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.blog-mobile-dashboard-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-mobile-dashboard-share-heading{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 8px 8px;
    border:1px solid var(--box-border);
    border-radius: 4px;
}
.blog-mobile-dashboard-heading h3{
    width: 100%;
    padding: 8px;
    border:1px solid var(--box-border);
    border-radius: 4px;
    font-size: 16px;
    font-family: var(--h-font);
    color: var(--h-white);
    font-weight: 400;
    text-align: center;
    line-height: 140%;
    height: 40px;
}
.blog-mobile-dashboard-heading h3:hover{
    background-color: var(--trafy-white);
    color: inherit;
}
.blog-mobile-dashboard-close{
    display: flex;
    justify-content: flex-end;
}
.blog-mobile-dashboard-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.blog-mobile-dashboard-table-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.blog-mobile-dashboard-table-contents h2{
    font-size: 16px;
    font-family: var(--h-font);
    color: var(--p-white);
    font-weight: 400;
    line-height: 140%;
}
.blog-mobile-dashboard-table-contents h2:hover{
    font-weight: 600;

}
.blog-mobile-dashboard-share{
    display: flex;
    gap: 1rem;
    /* position: absolute;
    right: 0px;
    bottom: 70px; */
}
.blog-mobile-dashboard-share-container{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.blog-mobile-dashboard-share-container img{
    width: 40px;
    height: 40px;
}
}

@media only screen and (max-width:400px){
    .blog-dashboard{
        padding: 16px 0px;
    }
    .blog-mobile-dashboard-container{
        width: 90%;
        gap: 1.7rem;
    }
    .blog-mobile-dashboard-share{
        gap: 0.6rem;
    }
    .blog-mobile-dashboard-heading h3{
        font-size: 14px;
    }

}
/* -------------------------------------------------Blog Hero---------------------------------------------------- */

.blog-page-hero-section{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
/* .blog-page-hero-section-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:1rem;

} */
.blog-page-hero-section-category{
    display: flex;
    gap:3rem;
}
.blog-page-hero-category{
    font-size: 14px;
    font-family: var(--p-font);
    color: var(--h-black);
    font-weight:300;
}
.blog-page-hero-read{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--trafy-black);
    font-weight: 400;
}
.blog-page-hero-section-heading h1{
    font-size: 64px;
    font-family: var(--h-font);
    color: var(--h-black);
    font-weight: 700;
    line-height: 120%;
}
.blog-page-hero-section-para p{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 300;
    line-height: 170%;

}
.blog-page-hero-section-seperate-content{
    display: flex;
    gap:0.5rem;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #c5c5c5;
    position: relative;
    background-color: var(--trafy-white);
}
.blog-page-hero-section-author{
    display: flex;
    gap:0.5rem;
    align-items: center;
}
.blog-page-hero-section-author p{
    font-size: 12px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 300;
    margin: 0;
}
.blog-page-hero-section-seperate-content img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.blog-page-hero-share-container{
    border: 1px solid var(--box-border);
    border-radius: 12px;
    padding: 24px;
    width: max-content;
    height: max-content;
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: 64px;
    right: 0px;
    background-color: var(--trafy-white);
}
.blog-page-hero-share-container img{
    width: 32px;
    height: 32px;
}
@media only screen and (max-width:1024px){
    .blog-page-hero-section-container{
        width: 80%;
    }
    .blog-page-hero-section-container{
        width: 80%;
    }
  
    .blog-page-hero-section-heading h1{
       font-size: 48px;
    }
}
@media only screen and (max-width:600px){
    .blog-page-hero-section-seperate-content img, .blog-page-hero-section-author span{
        display: none;
    }
    .blog-page-hero-section-author{
        gap: 1rem;
    }
    .blog-page-hero-section-heading h1 {
        font-size: 36px;
    }
    .blog-page-hero-section-para p{
        font-size: 16px;
    }
}
@media only screen and (max-width:400px){
    .blog-page-hero-section{
        gap: 1.5rem;
    }
    .blog-page-hero-section-container{
        gap:1rem;
    }
    .blog-page-hero-section-container{
        width: 85%;
    }
    .blog-page-hero-section-author{
        flex-wrap: wrap;
    }
    .blog-page-hero-section-author p{
        font-size: 11px;
    }
    .blog-page-hero-section-heading h1{
        font-size: 28px;
    }
    .blog-page-hero-section-para p{
        font-size: 16px;
    }
    .blog-page-hero-category{
        font-size: 13px;
    }
    .blog-page-hero-section{
        padding-top: 100px;
    }
}
/* -----------------------------------------------------------------image----------------------------------------------- */

.blog-page-blog-image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blog-page-img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.blog-page-article-socials{
    display: flex;
    gap:0.8rem;
    align-items: center;
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 500;
}
.blog-page-article-socials img{
    width: 28px;
    height: 28px;
    border-radius: 4px;

}
@media only screen and (max-width:400px){
    .blog-page-article-socials img {
        width: 26px;
        height: 26px;
        border-radius: 4px;
    }
}
/* -------------------------------------------------------------------introduction--------------------------------------- */

.blog-page-introduction{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.blog-page-introduction p{
    font-size: 20px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 400;
    line-height: 170%;
}
@media only screen and (max-width:1024px){
    .blog-page-introduction p{
        font-size: 18px;
    }
}
@media only screen and (max-width:600px){
    .blog-page-introduction p{
        font-size: 16px;
    }
}

/* ------------------------------------------------------------------main article-------------------------------------------- */


.blog-page-article-section{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.blog-page-article-main-contents{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.blog-page-article-main-contents h1{
    font-size: 32px;
    font-family: var(--h-font);
    color: var(--h-black);
    font-weight: 600;
    line-height: 130%;
}
.blog-page-article-main-contents p{
    font-size: 20px;
    font-family: var(--p-font);
    color:var(--p-black);
    font-weight: 400;
    line-height: 170%;
}
.blog-page-subarticle{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.blog-page-subarticle h2{
    font-size: 22px;
    font-family: var(--h-font);
    color: var(--h-black);
    font-weight: 600;
    line-height: 150%;
}
.blog-page-subarticle p{
    font-size: 18px;
    font-family: var(--p-font);
    color:var(--p-black);
    font-weight: 400;
    line-height: 170%;
}
.blog-page-subarticle ul{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color:var(--p-black);

}
.blog-page-subarticle li{
    font-size: 18px;
    font-family: var(--p-font);
    color:var(--p-black);
    font-weight: 400;
    line-height: 170%;
}
.blog-page-article-main-contents ul{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color:var(--p-black);
}
.blog-page-article-main-contents li{
    font-size: 18px;
    font-family: var(--p-font);
    color:var(--p-black);
    font-weight: 400;
    line-height: 170%;
}
.blog-page-article-main-contents li::marker, .blog-page-subarticle li::marker{
    color:var(--p-black);

}
@media only screen and (max-width:1024px){
    /* .blog-page-article-socials-description p, .blog-page-article-main-contents p{
        font-size: 18px;
    }
    */
    .blog-page-article-main-contents h1{
        font-size: 28px;
    }
    .blog-page-article-section-container{
        justify-content: center;
    }
    .blog-page-article-contents{
        gap:1rem;
    }
}
@media only screen and (max-width:600px){
    .blog-page-article-main-contents h1{
        font-size: 24px;
    }
    .blog-page-article-main-contents p{
        font-size: 16px;
    }
}
@media only screen and (max-width:400px){
    .blog-page-article-contents{
        padding-bottom:80px;
    }

    .blog-page-article-main-contents{
        gap:0.5rem;
    }
    .blog-page-article-socials-description p, .blog-page-article-main-contents p{
        font-size: 16px;
    }
}
/* --------------------------------------------------Conclusion--------------------------- */
.blog-page-conclusion{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.blog-page-conclusion p{
    font-size: 18px;
    font-family: var(--p-font);
    color:var(--p-black);
    font-weight: 400;
    line-height: 170%;
}
@media only screen and (max-width:600px){
    .blog-page-conclusion p{
        font-size: 16px;
    }
}
/* ------------------------------------------Other blogs--------------------------- */
.blog-other-blogs{
    padding-top: 60px;
    padding-bottom: 90px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap:1.5rem;
}

.blog-other-blogs-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap:1.5rem;
}
.blog-other-blog-heading h2{
    font-size: 24px;
    font-family: var(--p-font);
    color: var(--h-black);
    font-weight: 600;
    line-height: 150%;
}
.blog-other-blogs-card{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.blog-other-blogs-card-inner{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.blog-other-blogs-card-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.blog-other-blogs-card-image img{
    width: 100%;
    height: max-content;
    border-radius: 16px;
}
.blog-other-blogs-card-content{
   display: flex;
   flex-direction: column;
   gap:0.5rem;
}
.blog-other-blogs-card-category{
    display: flex;
    gap:3rem;
}
.blog-other-blogs-card-category h1{
    font-family: var(--p-font), sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:var(--h-black);
}
.blog-other-blogs-card-category p{
    font-family: var(--p-font), sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:var(--p-black);
}
.blog-other-blogs-card-heading h1{
    font-family: var(--h-font), sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:var(--h-black);
    line-height: 150%;
}
.blog-other-blogs-card-description p{
    font-family: var(--p-font), sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:var(--p-black);
    line-height: 150%;
}
.blog-other-blogs-card-author{
    display: flex;
    gap:3rem;
}
.blog-other-blogs-card-author p{
    font-family: var(--p-font), sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:var(--p-black);
}

@media only screen and (max-width:1024px){
    .blog-other-blogs{
        padding-top: 40px;
    }
    .blog-other-blogs-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width:600px){
    .blog-other-blogs{
        padding-top: 20px;
    }
    .blog-other-blogs-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-other-blogs-content{
        gap:2rem;
    }
}
/* ----------------------------------------------------------------------------------------------- */
.blog-newsletter{
    width: 100%;
    margin-top: 60px;
    padding: 90px 60px;
    display: flex;
    border: 1px solid var(--box-border);
    border-radius: 16px;
    justify-content: center;
}
.blog-newsletter-container{
    width: 80%;
}
.blog-newsletter-container-inner{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;

}
.blog-newsletter-form-thankyou{
    display: flex;
    padding: 48px 32px;
    border-radius: 16px;
}
.blog-newsletter-form-thankyou h3{
    font-size: 24px;
    font-family: var(--p-font);
    color:var(--h-black) ;
    font-weight: 500;
}
.blog-newsletter-heading h3{
    font-size: 28px;
    font-family: var(--p-font), sans-serif;
    color: var(--trafy-black);
    font-weight: 600;
    line-height: 150%;
    text-align: center;
}
.blog-newsletter-form{
    width: 100%;
}
.blog-newsletter-form form{
    display: flex;
    gap:0.5rem;

}
.blog-newsletter-form input{
    width: 80%;
    height: max-content;
    font-size: 16px;
    border: 1px solid var(--box-border);
    padding: 12px;
    border-radius: 6px;
}
/* .blog-newsletter-form input:focus {
    border: none; 
    outline: none; 
  } */
.blog-newsletter-container-inner button {
    width: max-content;
    height: max-content;
    padding: 11px 14px;
    border: 1px solid var(--trafy-black);
    border-radius: 6px;
    background-color: var(--trafy-black);
    color: var(--trafy-white);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--p-font), sans-serif;
}
.blog-newsletter-container-inner button:hover{
    background-color: inherit;
    color: var(--trafy-black);
}


@media only screen and (max-width:1024px){
    .blog-newsletter{
        margin-top: 40px;
    }
    .blog-newsletter-container{
        width: 90%;
    }
    .blog-newsletter-heading h3 {
        font-size: 24px;
    }
    .blog-newsletter{
        padding-top:60px;
        padding-bottom: 90px;
    }
    .blog-newsletter-container-inner{
        width: 100%;
    }
}
@media only screen and (max-width:600px){
    .blog-newsletter{
        margin-top: 20px;
    }
    .blog-newsletter{
       padding: 40px 32px;
    }
    .blog-newsletter-container {
        width:100%;
    }
}

@media only screen and (max-width:400px){
    .blog-newsletter{
        padding: 32px 24px;
    }
    .blog-newsletter-container {
        width:100%;
    }
    .blog-newsletter-container-inner{
        gap: 1.5rem;
        align-items: flex-start;
    }
    .blog-newsletter-form input{
        width:100%;
    }
    .blog-newsletter-heading h3{
        font-size: 24px;
        text-align: left;
    }
   
}