
.blog-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.blog-page-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 2rem;
}
.blog-page-container h1, .blog-page-container p, .blog-page-container h4{
    margin: 0;
}

@media only screen and (max-width:1024px){
    .blog-page-container{
        width: 85%;
    }
}
@media only screen and (max-width:400px){
    .blog-page-container{
        width: 90%;
    }
}


.blog-page-hero-section{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
/* .blog-page-hero-section-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:1rem;

} */
.blog-page-hero-section-category{
    display: flex;
    gap:3rem;
}
.blog-page-hero-category{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--h-black);
    font-weight: 500;
}
.blog-page-hero-read{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--trafy-black);
    font-weight: 400;
}
.blog-page-hero-section-heading h1{
    font-size: 56px;
    font-family: var(--h-font);
    color: var(--h-black);
    font-weight: 700;
    line-height: 140%;
}
.blog-page-hero-section-para p{
    font-size: 18px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 400;
    line-height: 170%;

}
.blog-page-hero-section-author{
    display: flex;
    gap:0.5rem;
    align-items: center;
}
.blog-page-hero-section-author p{
    font-size: 13px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 400;
    margin: 0;
}

@media only screen and (max-width:1024px){
    .blog-page-hero-section-container{
        width: 80%;
    }
    .blog-page-hero-section-container{
        width: 80%;
    }
  
    .blog-page-hero-section-heading h1{
       font-size: 40px;
    }
}
@media only screen and (max-width:600px){
 
    .blog-page-hero-section-heading h1 {
        font-size: 36px;
    }
    .blog-page-hero-section-para p{
        font-size: 16px;
    }
}
@media only screen and (max-width:400px){
    .blog-page-hero-section-container{
        gap:1rem;
    }
    .blog-page-hero-section-container{
        width: 85%;
    }
    .blog-page-hero-section-author{
        flex-wrap: wrap;
    }
    .blog-page-hero-section-author p{
        font-size: 13px;
    }
    .blog-page-hero-section-heading h1{
        font-size: 28px;
    }
    .blog-page-hero-section-para p{
        font-size: 16px;
    }
    .blog-page-hero-category{
        font-size: 16px;
    }
    .blog-page-hero-section{
        padding-top: 100px;
    }
}
/* -----------------------------------------------------------------image----------------------------------------------- */

.blog-page-blog-image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.blog-page-blog-image img{
    width: 100%;
    height: 100%;
}
.blog-page-article-socials{
    display: flex;
    gap:0.8rem;
    align-items: center;
    font-size: 14px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 500;
}
.blog-page-article-socials img{
    width: 24px;
    height: 24px;
}
/* -------------------------------------------------------------------introduction--------------------------------------- */

.blog-page-introduction{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.blog-page-introduction p{
    font-size: 18px;
    font-family: var(--p-font);
    color: var(--p-black);
    font-weight: 400;
    line-height: 170%;
}
@media only screen and (max-width:600px){
    .blog-page-introduction p{
        font-size: 16px;
    }
}

/* ------------------------------------------------------------------main article-------------------------------------------- */


.blog-page-article-section{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.blog-page-article-main-contents{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.blog-page-article-main-contents h1{
    font-size: 28px;
    font-family: var(--h-font);
    color: var(--h-black);
    font-weight: 600;
    line-height: 150%;
}
.blog-page-article-main-contents p{
    font-size: 18px;
    font-family: var(--p-font);
    color:var(--p-black);
    font-weight: 400;
    line-height: 170%;
}
.blog-page-subarticle{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.blog-page-subarticle h2{
    font-size: 20px;
    font-family: var(--h-font);
    color: var(--h-black);
    font-weight: 600;
    line-height: 150%;
}
@media only screen and (max-width:1024px){
    /* .blog-page-article-socials-description p, .blog-page-article-main-contents p{
        font-size: 18px;
    }
    */
    .blog-page-article-section-container{
        justify-content: center;
    }
    .blog-page-article-contents{
        gap:1rem;
    }
}
@media only screen and (max-width:600px){
    .blog-page-article-main-contents h1{
        font-size: 24px;
    }
    .blog-page-article-main-contents p{
        font-size: 16px;
    }
}
@media only screen and (max-width:400px){
    .blog-page-article-contents{
        padding-bottom:80px;
    }

    .blog-page-article-main-contents{
        gap:0.5rem;
    }
    .blog-page-article-socials-description p, .blog-page-article-main-contents p{
        font-size: 16px;
    }
}
/* --------------------------------------------------socials--------------------------- */


/* ------------------------------------------Other blogs--------------------------- */
.blog-other-blogs{
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap:1.5rem;
}

.blog-other-blogs-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap:1.5rem;
}
.blog-other-blog-heading h2{
    font-size: 24px;
    font-family: var(--p-font);
    color: var(--h-black);
    font-weight: 600;
    line-height: 150%;
}
.blog-other-blogs-card{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.blog-other-blogs-card-inner{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.blog-other-blogs-card-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.blog-other-blogs-card-image img{
    width: 100%;
    height: max-content;
}
.blog-other-blogs-card-content{
   display: flex;
   flex-direction: column;
   gap:0.5rem;
}
.blog-other-blogs-card-category{
    display: flex;
    gap:3rem;
}
.blog-other-blogs-card-category h1{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:var(--h-black);
}
.blog-other-blogs-card-category p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:var(--p-black);
}
.blog-other-blogs-card-heading h1{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:var(--h-black);
    line-height: 150%;
}
.blog-other-blogs-card-description p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:var(--p-black);
    line-height: 150%;
}
.blog-other-blogs-card-author{
    display: flex;
    gap:3rem;
}
.blog-other-blogs-card-author p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:var(--p-black);
}

@media only screen and (max-width:1024px){
    .blog-other-blogs-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width:600px){

    .blog-other-blogs-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-other-blogs-content{
        gap:2rem;
    }
}
/* ----------------------------------------------------------------------------------------------- */
.blog-newsletter{
    padding-top: 90px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}
.blog-newsletter-container{
    width: 80%;
}
.blog-newsletter-container-inner{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
}
.blog-newsletter-form-thankyou{
    display: flex;
    padding: 48px 32px;
    border-radius: 16px;
    border: 1px solid #d4cfcf;
}
.blog-newsletter-form-thankyou h3{
    font-size: 24px;
    font-family: var(--p-font);
    color:var(--h-black) ;
    font-weight: 500;
}
.blog-newsletter-heading h3{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: var(--trafy-black);
    font-weight: 600;
    line-height: 150%;
    text-align:center;
}
.blog-newsletter-form{
    width: 100%;
}
.blog-newsletter-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    border:1px solid var(--box-border);
    padding:8px;
    border-radius: 6px;
}
.blog-newsletter-form input{
    width: 80%;
    height: max-content;
    font-size: 16px;
    border:0px;
}
.blog-newsletter-form input:focus {
    border: none; /* Ensure no border on focus */
    outline: none; /* Ensure no outline on focus */
  }
.blog-newsletter-container-inner button {
    width: max-content;
    height: max-content;
    padding: 7px 14px;
    border: 1px solid var(--trafy-black);
    border-radius: 6px;
    background-color: var(--trafy-black);
    color: var(--trafy-white);
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.blog-newsletter-container-inner button:hover{
    background-color: inherit;
    color: var(--trafy-black);
}


@media only screen and (max-width:1024px){
    .blog-newsletter-container{
        width: 70%;
    }
    .blog-newsletter{
        padding-top:60px;
        padding-bottom: 90px;
    }
}
@media only screen and (max-width:600px){
    .blog-newsletter{
        padding-top:40px;
        padding-bottom: 60px;
    }
    .blog-newsletter-container {
        width: 85%;
    }
}

@media only screen and (max-width:400px){
    .blog-newsletter{
        padding-top:20px;
        padding-bottom: 40px;
    }
    .blog-newsletter-container {
        width:100%;
    }
    .blog-newsletter-form input{
        width:100%;
    }
    .blog-newsletter-heading h3{
        font-size: 24px;
        text-align: center;
    }
   
}